h1 {
    font-size: 1.1em;
    font-weight: bold;
}

h2 {
    font-size: 1.0em;
    font-weight: bold;    
}

h3 {
    font-size: 0.9em;
    font-weight: bold;    
}

p, li {
    font-size: 0.8em;
}

tr:nth-child(even) {
    background: #EEE
}